{% extends 'layout.html.twig' %}

{% block title %}Portfolio - Competences{% endblock %}
{% block content %}
{# <link rel="stylesheet" href="{{ asset('css/boostrap.css') }}"> #}


<br><div class="container col-xl-6 ajout_form"><br>
    <h3 class="display-4 text-center">{{ title }}</h3><hr><br>
    <div class="container col-xl-6">
        {# {{ form(competencesForm) }} #}
        {# je rappel mon formulaire et je vise les différents champs pour les mettre en form #}
        {{ form_start(competencesForm) }}
        <div class="form-group">
            {# {{ form_row(competencesForm.cptechnology, { 'label': 'Language' }) }} #}
            {{ form_label(competencesForm.cptechnology, 'Language' )}}
            {{ form_widget(competencesForm.cptechnology, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(competencesForm.cplevel, { 'label': 'Niveau' }) }}
        </div>
        {{ form_end(competencesForm) }}
    </div><br>
</div><br>

{% endblock %}
